* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  background-image: url(assets/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  object-fit: cover;
  font-family: sans-serif;
  margin: 0;
  padding: 15px;
}
.akun {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo {
  width: 108px;
  height: 80px;
  margin-bottom: 15px;
}
.container {
  width: 601px;
  height: 497px;
  padding: 5px 10px;
  border-radius: 30px;
  text-align: center;
  background-color: #fff;
  opacity: 0.9;
  color: #0c3d55;
}

img {
  width: 100%;
  display: block;
  margin-bottom: 40px;
}

.container h1 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
}
.container p {
  font-weight: 400;
  margin-top: -10px;
  line-height: 25px;
  font-size: 11px;
}
.container p:last-child a {
  font-weight: 600;
}
form {
  margin-bottom: 15px;
}
.form-group {
  margin-bottom: 10px;
}

label {
  display: flex;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 400;
}

input {
  width: 100%;
  height: 43px;
  padding: 15px;
  border: 0.1px solid #0c3d55;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 5px;
  color: #0c3d55;
  outline: none;
}
input::placeholder {
  color: #0c3d55;
  font-size: 13px;
  font-weight: 400;
}
.rule {
  margin-bottom: 10px;
  color: #518caa;
}

.rule p {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px;
}
.rule i {
  font-size: 8px;
}
button {
  width: 480px;
  padding: 8px 0;
  border: 1px solid #0c3d55;
  border-radius: 40px;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: #0c3d55;
  border: none;
  cursor: pointer;
}
button a{
  text-decoration: none;
  color: #fff;
}
.container .kebijakan-privasi p{
  font-size: 12px;
  font-weight: 400;
  margin: 1px 0;
} 
.container .kebijakan-privasi p a{
  color: #286280;

}